/* ////////////////////////////////////////////////// */
/* Footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
footer {
  margin-top: auto;
  width: 100%;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: black;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

.footer-copyright a {
  text-decoration: underline;
  color: white;
}

.footer {
  background-color: #191919;
  color: white;
}

.footer p {
  font-size: 14px !important;
}

.footer-inner-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-flow: row wrap;
  height: 20%;
}

.footer-col-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col-parent img {
  margin: 20px 10px;
}

.footer-col {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-col a {
  color: white;
  text-decoration: none;
}

.footer-col a:hover {
  cursor: pointer;
  color: #65c2ed;
  transition: all 0.2s ease;
}

.footer-col p {
  margin: 5px 0;
  font-size: 20px;
}

.footer-logo {
  width: 200px;
  align-items: center;
}

.footer-svgs {
  display: flex;
  justify-content: center;
}

.footer-svgs svg {
  display: inline-block;
  padding: 7px;
  width: 35px;
  height: 35px;
  margin: 0 2px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.footer-svgs svg:nth-child(1):hover {
  background: #3b5998;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-svgs svg:nth-child(2):hover {
  background: #00b6f1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-svgs svg:nth-child(3):hover {
  background: #04669a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-img {
  height: 7rem;
  border-radius: 50%;
}

.footer-row {
  margin-top: auto;
}

body {
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 418px) {
  .footer-col {
    margin: 20px 10px;
  }
}

.footer-col h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

/* ContactFormHome */

.lister3 {
  /* Add container styles */
  max-width: 400px;
}

form {
  /* Add form styles */
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.lister3 form {
  display: grid;
  gap: 10px;
}

.lister3 form > div {
  display: grid;
  gap: 2px;
  padding: 0px;
}

.lister3 form > div:nth-child(2) {
  grid-template-columns: 1fr 1fr;
}

.lister3 form > div:nth-child(2) input {
  width: 100%;
}

.lister3 form > div:nth-child(1) {
  grid-template-columns: 1fr 1fr;
}

.lister3 form > div:nth-child(1) input {
  width: 100%;
}

input,
select,
.lister3 textarea {
  /* Add shared input styles */
  margin-bottom: 1px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 12px;
  height: 40px;
  text-align: left;
}

.lister3 input[type="submit"] {
  /* Add specific style for submit button */
  background-color: green;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 100px;
}

/* Style the h2 heading */
.lister3 h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
}

/* Add specific styles for the error message */
.lister3 span {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 10px;
}

/* Add specific styles for the select dropdown */
.lister3 select {
  padding: 8px;
}

.lister3 textarea {
  /* Add specific styles for the textarea */
  resize: vertical;
  height: 60px;
  width: 450px;
  text-align: center;
}

/* ContactFormAll */

.lister2 {
  /* Add container styles */
  max-width: 400px;
  background-color: #f39c12;
  width: 300px;
}

.lister2 form {
  /* Add form styles */
  display: flex;
  flex-direction: column;
}

.lister2 form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.lister2 form-column {
  flex: 1;
  align-items: center;
}

.lister2 form {
  display: grid;
  gap: 10px;
  text-align: center;
}

input,
select,
.lister2 textarea {
  /* Add shared input styles */
  margin-bottom: 1px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 12px;
  height: 40px;
  width: 250px;
  text-align: center;
}

input[type="submit"] {
  /* Add specific style for submit button */
  background-color: green;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 25px;
}

/* Style the h2 heading */
.lister2 h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

/* Add specific styles for the error message */
.lister2 span {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 10px;
}

/* Add specific styles for the select dropdown */
.lister2 select {
  padding: 8px;
}

/*for all pages*/

/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flex container for the two columns */
.container {
  display: flex;
}

/* First column with a width of 2/3 (66.67%) of the container */
.column1 {
  flex: 5;
  padding: 20px; /* Add padding as per your requirement */
}

/* Second column with a width of 1/3 (33.33%) of the container */
.column2 {
  flex: 1;
  padding: 20px;
}
