/* ////////////////////////////////////////////////// */
/* Footer */

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
footer {
  margin-top: auto;
  width: 100%;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: black;
  color: black;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.footer-copyright a {
  text-decoration: underline;
  color: white;
}

.footer {
  background-color: blue;
  color: white;
}

.footer p {
  font-size: 14px !important;
}

.footer-inner-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-flow: row wrap;
  height: 20%;
}

.footer-col-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col-parent img {
  margin: 20px 10px;
}

.footer-col {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-col a {
  color: white;
  text-decoration: none;
}

.footer-col a:hover {
  cursor: pointer;
  color: black;
  transition: all 0.2s ease;

  text-decoration: none !important; /* Remove the underline */
}

.footer-col p {
  margin: 5px 0;
  font-size: 20px;
}

.footer-logo {
  width: 200px;
  align-items: center;
}

.footer-svgs {
  display: flex;
  justify-content: center;
}

.footer-svgs svg {
  display: inline-block;
  padding: 7px;
  width: 35px;
  height: 35px;
  margin: 0 2px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.footer-svgs svg:nth-child(1):hover {
  background: #3b5998;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-svgs svg:nth-child(2):hover {
  background: #00b6f1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-svgs svg:nth-child(3):hover {
  background: #04669a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-img {
  height: 7rem;
  border-radius: 50%;
}

.footer-row {
  text-align: center;
  margin-top: 15px;
}

.footer-row img {
  width: 500px;
  height: 500px;
  margin: 0 5px;
}

body {
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 418px) {
  .footer-col {
    margin: 20px 10px;
  }
}

.footer-col h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

/* ContactFormHome */

.lister3 {
  /* Add container styles */
  max-width: 400px;
}

.custom-form {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.lister3 form {
  display: grid;
  gap: 10px;
}

.lister3 form > div {
  display: grid;
  gap: 2px;
  padding: 0px;
}

.lister3 form > div:nth-child(2) {
  grid-template-columns: 1fr 1fr;
}

.lister3 form > div:nth-child(2) input {
  width: 100%;
}

.lister3 form > div:nth-child(1) {
  grid-template-columns: 1fr 1fr;
}

.lister3 form > div:nth-child(1) input {
  width: 100%;
}

.input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.lister3 textarea {
  /* Add shared input styles */
  margin-bottom: 1px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 12px;
  height: 40px;
  text-align: left;
}

.lister3 input[type="submit"] {
  /* Add specific style for submit button */
  background-color: green;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 100px;
}

/* Style the h2 heading */
.lister3 h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
}

/* Add specific styles for the error message */
.lister3 span {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 10px;
}

/* Add specific styles for the select dropdown */
.lister3 select {
  padding: 8px;
}

.lister3 textarea {
  /* Add specific styles for the textarea */
  resize: vertical;
  height: 60px;
  width: 450px;
  text-align: center;
}

/* Mobile view */
@media (max-width: 768px) {
  .lister3 {
    text-align: center;
    padding: 20px;
  }

  .lister3 h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .lister3 form {
    display: block;
  }

  .lister3 input,
  .lister3 select,
  .lister3 textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .lister3 input[type="submit"] {
    width: 50%;
    font-size: 18px;
    color: #fff;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .lister3 input[type="submit"]:hover {
    background-color: #e67e11;
    text-align: center;
  }
}

/* ContactFormAll */

.lister2 {
  /* Add container styles */
  max-width: 400px;
  background-color: #f39c12;
  width: 300px;
}

.lister2 form {
  /* Add form styles */
  display: flex;
  flex-direction: column;
}

.lister2 form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.lister2 form-column {
  flex: 1;
  align-items: center;
}

.lister2 form {
  display: grid;
  gap: 10px;
  text-align: center;
}

input,
select,
.lister2 textarea {
  /* Add shared input styles */
  margin-bottom: 1px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 12px;
  height: 40px;
  width: 250px;
  text-align: center;
}

input[type="submit"] {
  /* Add specific style for submit button */
  background-color: green;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 25px;
}

/* Style the h2 heading */
.lister2 h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

/* Add specific styles for the error message */
.lister2 span {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 10px;
}

/* Add specific styles for the select dropdown */
.lister2 select {
  padding: 8px;
}

/*for all pages*/

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flex container for the two columns */
.container {
  display: flex;
}

/* First column with a width of 6/7 (85.71%) of the container */
.column1 {
  flex: 6;
  padding: 10px; /* Add padding as per your requirement */
}

/* Second column with a width of 1/7 (14.29%) of the container */
.column2 {
  flex: 1;
  padding: 20px;
}

/* Ensure the last column has no margin to avoid any gap */
.column2:last-child {
  margin-right: 0;
}

/* Mobile view */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .column1,
  .column2 {
    width: 100%;
  }
}

/* Sider Component*/

/* Style for the container div */
.sider2 {
  background-color: #f39c12;
  padding: 10px;
  margin-top: 30px;
}

/* Style for the heading */
.sider2 h3 {
  margin-left: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #007bff;
}

/* Style for the list items */
.sider2 li {
  margin-top: 10px;
  list-style-type: none;
}

/* Style for the anchor links */
.sider2 a {
  font-size: medium;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

/* Style for the image inside anchor links */
.sider2 a img.sider-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

/* Hover effect for anchor links */
.sider2 a:hover {
  color: #007bff; /* Change the color as desired */
}

/* common 66% view */

.custom-list {
  list-style: disc !important;
}

.custom-list li {
  position: relative;
  border: 0px none;
  padding: 10px 0 0px 0px;
  /* display: block; */
  margin: 10px 15px;
  padding-right: 10px;
}

/* .custom-list li::before {
  position: absolute;
  left: 0px;
  content: "•";
  font-family: "Font Awesome 5 Free";
  color: black;
  margin-top: 4px;
} */

.ph-subheading {
  font-size: 25px !important;
}
.procedure-outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.procedure-wrapper {
  width: 90%;
  background-color: #fff;
  padding: 20px 20px;
  margin: 20px;
  border: #fff solid 0.2vw;
}

.procedure-wrapper h1 {
  text-align: center;
  margin: 20px 0;
  margin-bottom: 35px;
  color: black;
}

.sub-part h2 {
  font-size: 20px !important;
  color: #350011;
}

.sub-part p {
  margin: 10px 0 !important;
}

.procedure-wrapper h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 50px;
  text-align: center;
  color: black;
}

.sub-part h2,
.ph-subheading {
  font-size: 23px !important;
  color: navy !important;
  text-align: left !important;
}

.procedure-wrapper p {
  margin: 20px 0;
  color: #2b000e;
  text-align: justify;
  margin-left: 0%;
}

.policies-heading {
  font-size: 2em;
}

.procedure-wrapper a {
  text-decoration: none;
  color: #3394ff;
}

.procedure-wrapper strong {
  color: #414141;
  font-weight: 700;
}

@media (max-width: 545px) {
  .procedure-wrapper {
    width: 95%;
  }
}

.custom-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 30px 0;
}

/* Header Components */

/* Mobile view */

@media (max-width: 768px) {
  /* Reset container padding to remove horizontal padding */
  .row2 container-fluid {
    background-color: #fff;
  }

  /* Show the mobile menu when it's open */
  .navbar-collapse.show {
    display: block;
    background-color: #f39c12;
    width: 60%; /* Cover only half of the screen width */
    position: absolute;
    top: 225px; /* Adjust this value as needed to position the menu below the menu icon */
    left: 0;
    z-index: 100; /* Ensure the menu appears above other content */
    padding: 10px; /* Add some padding for spacing */
  }

  /* Hide the toggle button text in mobile view */
  .navbar-toggler {
    color: #fff;
    background-color: #f39c12;
    border-color: #fff;
    text-align: left;
    width: fit-content; /* Adjust this value as needed */
  }

  /* Style for mobile navigation links */
  .navbar-nav .nav-item {
    border-bottom: 5px solid #f39c12;
    width: 10%; /* Make each nav item full width */
  }

  /* Style for mobile dropdown menu */
  .dropdown-menu {
    background-color: #12f34a;
    width: justify; /* Make the dropdown menu full width */
    right: 0; /* Position the dropdown menu to the right */
    left: 10;
    /* Remove padding to adjust sub-options within the same space */
  }

  /* Style for mobile dropdown items */
  .dropdown-menu .dropdown-item {
    color: black;
  }

  /* Style for active links in mobile view */
  /* .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
  } */

  /* Hide the caret icon in mobile view */
  .dropdown-toggle::after {
    display: none;
    width: fit-content;
  }

  /* Adjust padding for nav items in mobile view */
  .navbar-nav {
    padding: 0;
  }

  /* Adjust margins for nav items in mobile view */
  .navbar-nav .nav-item {
    margin: 0;
  }

  /* Style for mobile navigation links */
  .navbar-nav .nav-link {
    padding: 10px;
    color: #f39c12;
  }

  /* Move the menu icon to the right in mobile view */
  .navbar-toggler::before {
    content: "\2261"; /* Unicode for the hamburger menu icon */
    height: 30px;
    display: inline-block;
    color: #fff;
    font-size: 40px; /* Adjust this value to change the size of the icon */
    line-height: 30px; /* Adjust this value to vertically center the icon */
    margin-right: 10px;
    margin-top: 5px; /* Adjust this value to add space between the icon and the "Menu" text */
  }

  /* Add down arrow icon for dropdown items in mobile view */
  .nav-link.dropdown-toggle::after {
    content: ""; /* Unicode for the right-pointing arrow icon */
    display: inline-block;
    margin-left: 5px; /* Adjust this value to add space between the item text and the icon */
  }

  .navbar-collapse.collapsing {
    display: block;
    background-color: #f39c12;
    width: 50%; /* Set the desired width when collapsing the menu */
    position: absolute;
    top: 225px;
    left: 0;
    z-index: 0;
    padding: 10px;
  }
}

/* Header row1*/

.container-fluid {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.header-col1,
.header-col2 {
  display: flex;
  align-items: center;
}

.header-col21 img {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size: 30px;
  width: 200px;
  height: 60px;
}

.header-col22 img {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 80px;
  font-size: 30px;
  width: 100px;
  height: 60px;
}

.hover:hover .dropdown-menu {
  display: block;
}

/* Styles for mobile view (screen width < 768px) */
@media (max-width: 767px) {
  .container-fluid {
    flex-direction: column;
  }

  .header-col2 {
    margin-top: 10px;
    margin-left: 50px;
  }

  /* Center align header-col1 image in mobile view */
  .header-col1 img {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 120px;
    margin-left: 30px;
  }

  /* Styles for header-col21 image in mobile view */
  .header-col21 img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Preserve aspect ratio */
    margin: 10px auto; /* Center align and add spacing */
    display: block;
  }

  /* Styles for header-col22 image in mobile view */
  .header-col22 img {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Preserve aspect ratio */
    margin-left: 50px; /* Center align and add spacing */
    display: block;
  }
}

/*Student Login*/

/* CSS code for custom styling */
.container-box {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  margin-left: 450px;
  padding: 20px;
  border: 3px solid #f39c12;
  border-radius: 25px;
  align-self: center;
}

.btn-floating {
  border-radius: 50%;
  padding: 8px;
}
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.btn-primary:hover {
  background-color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.bg-light {
  background-color: #f8f9fa;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.btn-link img {
  width: 30px; /* Adjust the width and height as per your image size */
  height: 30px;
}
.btn-link:hover {
  text-decoration: underline;
}

.btn-floating {
  /* background-color: #007bff; */
  color: #fff;
  border-radius: 50%;
  padding: 8px;
}

.mb-3 {
  margin-bottom: 1rem;
  border-radius: 25px;
}

.mb-4 {
  margin-bottom: 1.5rem;
  border-radius: 20px;
}

.mb-md-0 {
  margin-bottom: 0;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.5rem;
}

.form-check.d-flex {
  flex-wrap: nowrap;
}

.form-check-input {
  position: absolute;
  top: 0;
  left: 20;
  margin-top: 0.25rem;
}

.form-check-input.me-2 {
  position: absolute;
  top: 0;
  left: 100px;
  margin-top: 0.25rem;
}

.form-check-label {
  margin-bottom: 0;
  left: 20;
  padding-left: 0.5rem;
  font-size: 15px;
}

.form-outline {
  position: relative;
}

.form-control {
  border: 1px solid #d8dace;
  border-radius: 20px;
  padding: 0.5rem;
  width: 100%;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -24px;
  padding: 0 5px;
  background-color: #fff;
  color: #007bff;
}

.form-label.active {
  margin-top: -20px;
  font-size: 12px;
}

.text-center {
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Additional styling for active tab */
/* .nav-link.active {
  background-color: #007bff;
  color: #fff;
} */

/* Additional styling for tab content */
.tab-content {
  padding: 1rem;
  border: 1px solid #f39c12;

  border-radius: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.nav-pills .nav-link.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
}

.form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .container-box {
    max-width: 90%;
    padding: 10px;
    margin-left: 18px;
  }

  .nav-pills {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-link {
    margin-bottom: 5px;
  }

  .tab-content {
    padding: 10px;
  }

  .form-label {
    margin-top: -15px;
    font-size: 10px;
  }

  .form-check-label {
    font-size: 12px;
  }
  .row.mb-4 {
    display: flex;
    flex-wrap: wrap;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .d-flex.justify-content-center {
    justify-content: center;
  }

  /* Reduce the distance between checkbox and text in mobile view */
  .form-check-input {
    margin-right: 0.5rem;
  }

  .form-check-input.me-2 {
    position: absolute;
    top: 0;
    left: 80px;
    margin-top: 0;
  }
}

/* Custom CSS for web view (screen width >= 768px) */
@media (min-width: 768px) {
  .row.mb-4 {
    display: flex;
    justify-content: space-between;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row.mb-4 {
    display: flex;
    justify-content: space-between;
  }

  /* Reduce the distance between checkbox and text in web view */
  .form-check-input {
    margin-right: 0.5rem;
  }
}

/*  Faculty Section */

.faculty {
  box-sizing: border-box;
  box-width: 150px;
}
.blog-card {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
  background-color: #f0f0f0;
  border-bottom: 3px solid #eee;
}

.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-size: cover; */
  background-position: center;
  transition: transform 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  content: "\f02c";
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 1000px;
  }
  .blog-card .meta {
    flex-basis: 30%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 70%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

@media (max-width: 640px) {
  .blog-card {
    margin: 20px !important;
  }
}

/* Why IIT Academy */
.views-element-container {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 20px;
  margin-top: 20px;
}

#why-choose-aakash-section {
  /* Add your section styles here */
}

.adv-container {
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 270px;
  gap: 10px; /* Adjust the gap as needed */
  padding: 20px; /* Add padding around the container */
  border: 1px solid #ccc; /* Add a border for visual separation */
  background-color: #f5f5f5; /* Add a background color for contrast */
}

.main-container {
  background-color: #f7f7f7; /* Background color */
  padding: 20px; /* Padding around the content */
  border: 1px solid #ddd; /* Border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.why-choose-heading h6 {
  font-size: 30px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.why-choose-heading h5 {
  font-size: 24px;
  color: #555;
  margin-bottom: 15px;
  text-align: center;
}

/* Aakash Advantage point styles */
.aakash-adv-point {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.aakash-adv-point img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.aakash-adv-details ul {
  list-style: disc;
  margin-left: 0px;
  padding-left: 0px;
}

.aakash-adv-details li {
  position: relative; /* Create a positioning context for ::before */
  padding-left: 20px;
}

.aakash-adv-details li::before {
  content: "\2022"; /* Unicode character for a dot bullet */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #333; /* Color of the bullet */
}

/* List styles */
.section-aakash-advn ul {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap as needed */
  justify-content: space-between;
}

.section-aakash-advn li {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

/* Omni-channel Learning styles */
.aakash-adv-point img.img-global {
  /* Add your image styles here */
}

/* Media queries */
@media (max-width: 767px) {
  /* Add your responsive styles for small screens here */
  .views-element-container {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 20px;
    margin-top: 20px;
  }

  .adv-container {
    width: 200%; /* Take full width */
    display: flex;
    flex-direction: column;
    /* Adjust the gap as needed */
    /* Adjust padding for mobile */
    border: 1px solid #ccc; /* Add a border for visual separation */
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-left: 0px;
  }

  .main-container {
    background-color: #f7f7f7; /* Background color */
    padding: 20px; /* Padding around the content */
    border: 1px solid #ddd; /* Border */

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
  }

  .why-choose-heading h6,
  .why-choose-heading h5 {
    font-size: 20px; /* Adjust font size for mobile */
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }

  /* Aakash Advantage point styles */
  .aakash-adv-point {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .aakash-adv-point img {
    width: 30px; /* Adjust image size for mobile */
    height: 30px;
    margin-right: 10px;
  }

  .aakash-adv-details ul {
    list-style: disc;
    margin-left: 0px;
    padding-left: 0px;
  }

  .aakash-adv-details li {
    position: relative; /* Create a positioning context for ::before */
    padding-left: 20px;
  }

  .aakash-adv-details li::before {
    content: "\2022"; /* Unicode character for a dot bullet */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #333; /* Color of the bullet */
  }

  /* List styles */
  .section-aakash-advn ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap as needed */
    justify-content: space-between;
  }

  .section-aakash-advn li {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }
}

/* Our Courses */

.contact-outer {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 20px;
}

.snip1560 {
  top: 0;
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 20px;
  /* min-width: 250px;
  max-width: 500px; */
  width: 350px;
  background-color: white;
  color: #2b2b2b;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out 0s;
  box-sizing: content-box;
  border: 5px solid grey;
  border-radius: 20px;
}

.snip1560 .profile-image {
  padding: 0;
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.snip1560 .profile-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.snip1560 figcaption {
  padding: 5% 5% 4%;
}

.snip1560 h3 {
  font-family: "roboto mono";

  font-size: 25px;
  font-weight: 400;
  line-height: 50px;
  margin: 3px;
  font-weight: bold;
  color: #fff;
}

.snip1560 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
  color: black;
}

.snip1560:hover,
.snip1560.active {
  top: -4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #88c3d0;
}

.mou-heading {
  font-size: 40px;
  background-color: white !important;
  color: #04020c;
  border: none !important;
  font-weight: bold;
}

.mou-team {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.mou-coordinators {
  width: 100%;
  display: flex;
}

.mou-coordinators-wrapper {
  width: 200%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
}

.mou-detail {
  line-height: 50px;
  font-family: "roboto mono";
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #f39c12;
  border-radius: 20px;
}

.mou-detail1 {
  line-height: 50px;
  font-family: "roboto mono";
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: green;
  border-radius: 20px;
}

.circle-list {
  list-style: circle;
  padding-left: 20px;
  color: black;
}

.message {
  text-align: left;
}

.course-link {
  text-decoration: none !important; /* Remove the underline */
}

@media only screen and (max-width: 768px) {
  .contact-outer {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .snip1560 {
    top: 0;
    font-family: "Open Sans", sans-serif;
    position: relative;
    display: block; /* Change to block for mobile */
    overflow: hidden;
    margin: 20px 0; /* Adjust margin for mobile */
    width: 100%; /* Change width to 100% for mobile */
    background-color: white;
    color: #2b2b2b;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-out 0s;
    box-sizing: content-box;
    border: 5px solid grey;
    border-radius: 20px;
  }

  .snip1560 .profile-image {
    padding: 0;
    width: 100%; /* Change width to 100% for mobile */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
  }

  .snip1560 .profile-image img {
    width: 50%; /* Change width to 100% for mobile */
    height: auto; /* Adjust height to auto for mobile */
    object-fit: cover;
  }

  .snip1560 figcaption {
    padding: 5% 5% 4%;
  }

  .snip1560 h3 {
    font-family: "roboto mono";
    font-size: 22px; /* Adjust font size for mobile */
    font-weight: 400;
    line-height: 40px; /* Adjust line height for mobile */
    margin: 3px;
    font-weight: bold;
    color: #fff;
  }

  .snip1560 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
    color: black;
  }

  .snip1560:hover,
  .snip1560.active {
    top: -4px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #88c3d0;
  }

  .mou-heading {
    font-size: 30px; /* Adjust font size for mobile */
    background-color: white !important;
    color: #04020c;
    border: none !important;
    font-weight: bold;
  }

  .mou-team {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }

  .mou-coordinators {
    width: 100%;
    display: flex;
  }

  .mou-coordinators-wrapper {
    width: 100%; /* Change width to 100% for mobile */
    display: flex;
    flex-direction: column; /* Change to column for mobile */
    justify-content: center;
    flex-flow: row wrap;
  }

  .mou-detail {
    line-height: 40px; /* Adjust line height for mobile */
    font-family: "roboto mono";
    align-items: center;
    font-size: 25px; /* Adjust font size for mobile */
    font-weight: bold;
    color: #fff;
    background-color: #f39c12;
    border-radius: 20px;
  }
  .mou-detail1 {
    line-height: 40px; /* Adjust line height for mobile */
    font-family: "roboto mono";
    align-items: center;
    font-size: 20px; /* Adjust font size for mobile */
    font-weight: bold;
    color: #fff;
    background-color: green;
    border-radius: 20px;
  }

  .circle-list {
    list-style: circle;
    padding-left: 20px;
    color: black;
  }

  .message {
    text-align: left;
  }

  .course-link {
    text-decoration: none !important;
  }
}

/* Homepage*/

.homepic {
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
  width: 98%;
  height: 400px;
  overflow: hidden;
}

.logo-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

@media (max-width: 638px) {
  .logo-img {
    width: 100%;
    max-width: 100%;
    height: 150px;
  }
  .homepic {
    max-width: 100%;
    width: 100%;
    height: 150px;
  }
}
