/* ////////////////////////////////////////////////// */
/* Footer */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
footer {
  margin-top: auto;
  width: 100%;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: black;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

.footer-copyright a {
  text-decoration: underline;
  color: white;
}

.footer {
  background-color: #191919;
  color: white;
}

.footer p {
  font-size: 14px !important;
}

.footer-inner-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-flow: row wrap;
  height: 20%;
}

.footer-col-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col-parent img {
  margin: 20px 10px;
}

.footer-col {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-col a {
  color: white;
  text-decoration: none;
}

.footer-col a:hover {
  cursor: pointer;
  color: #65c2ed;
  transition: all 0.2s ease;
}

.footer-col p {
  margin: 5px 0;
  font-size: 20px;
}

.footer-logo {
  width: 200px;
  align-items: center;
}

.footer-svgs {
  display: flex;
  justify-content: center;
}

.footer-svgs svg {
  display: inline-block;
  padding: 7px;
  width: 35px;
  height: 35px;
  margin: 0 2px;
  background: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.footer-svgs svg:nth-child(1):hover {
  background: #3b5998;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-svgs svg:nth-child(2):hover {
  background: #00b6f1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-svgs svg:nth-child(3):hover {
  background: #04669a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-img {
  height: 7rem;
  border-radius: 50%;
}

.footer-row {
  margin-top: auto;
}

body {
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 418px) {
  .footer-col {
    margin: 20px 10px;
  }
}

.footer-col h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

/* ContactFormHome */

.lister3 {
  /* Add container styles */
  max-width: 400px;
}

form {
  /* Add form styles */
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.lister3 form {
  display: grid;
  gap: 10px;
}

.lister3 form > div {
  display: grid;
  gap: 2px;
  padding: 0px;
}

.lister3 form > div:nth-child(2) {
  grid-template-columns: 1fr 1fr;
}

.lister3 form > div:nth-child(2) input {
  width: 100%;
}

.lister3 form > div:nth-child(1) {
  grid-template-columns: 1fr 1fr;
}

.lister3 form > div:nth-child(1) input {
  width: 100%;
}

input,
select,
.lister3 textarea {
  /* Add shared input styles */
  margin-bottom: 1px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 12px;
  height: 40px;
  text-align: left;
}

.lister3 input[type="submit"] {
  /* Add specific style for submit button */
  background-color: green;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 100px;
}

/* Style the h2 heading */
.lister3 h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
}

/* Add specific styles for the error message */
.lister3 span {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 10px;
}

/* Add specific styles for the select dropdown */
.lister3 select {
  padding: 8px;
}

.lister3 textarea {
  /* Add specific styles for the textarea */
  resize: vertical;
  height: 60px;
  width: 450px;
  text-align: center;
}

/* Mobile view */
@media (max-width: 768px) {
  .lister3 {
    text-align: center;
    padding: 20px;
  }

  .lister3 h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .lister3 form {
    display: block;
  }

  .lister3 input,
  .lister3 select,
  .lister3 textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .lister3 input[type="submit"] {
    width: 50%;
    font-size: 18px;
    color: #fff;
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .lister3 input[type="submit"]:hover {
    background-color: #e67e11;
    text-align: center;
  }
}

/* ContactFormAll */

.lister2 {
  /* Add container styles */
  max-width: 400px;
  background-color: #f39c12;
  width: 300px;
}

.lister2 form {
  /* Add form styles */
  display: flex;
  flex-direction: column;
}

.lister2 form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.lister2 form-column {
  flex: 1;
  align-items: center;
}

.lister2 form {
  display: grid;
  gap: 10px;
  text-align: center;
}

input,
select,
.lister2 textarea {
  /* Add shared input styles */
  margin-bottom: 1px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 12px;
  height: 40px;
  width: 250px;
  text-align: center;
}

input[type="submit"] {
  /* Add specific style for submit button */
  background-color: green;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 25px;
}

/* Style the h2 heading */
.lister2 h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

/* Add specific styles for the error message */
.lister2 span {
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 10px;
}

/* Add specific styles for the select dropdown */
.lister2 select {
  padding: 8px;
}

/*for all pages*/

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flex container for the two columns */
.container {
  display: flex;
}

/* First column with a width of 6/7 (85.71%) of the container */
.column1 {
  flex: 6;
  padding: 10px; /* Add padding as per your requirement */
}

/* Second column with a width of 1/7 (14.29%) of the container */
.column2 {
  flex: 1;
  padding: 20px;
}

/* Ensure the last column has no margin to avoid any gap */
.column2:last-child {
  margin-right: 0;
}

/* Mobile view */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .column1,
  .column2 {
    width: 100%;
  }
}

/* Sider Component*/

/* Style for the container div */
.sider2 {
  background-color: #f39c12;
  padding: 10px;
  margin-top: 30px;
}

/* Style for the heading */
.sider2 h3 {
  margin-left: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #007bff;
}

/* Style for the list items */
.sider2 li {
  margin-top: 10px;
  list-style-type: none;
}

/* Style for the anchor links */
.sider2 a {
  font-size: medium;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

/* Style for the image inside anchor links */
.sider2 a img.sider-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

/* Hover effect for anchor links */
.sider2 a:hover {
  color: #007bff; /* Change the color as desired */
}

/* common 66% view */

.custom-list {
  list-style: disc !important;
}

.custom-list li {
  position: relative;
  border: 0px none;
  padding: 10px 0 0px 0px;
  /* display: block; */
  margin: 10px 15px;
  padding-right: 10px;
}

/* .custom-list li::before {
  position: absolute;
  left: 0px;
  content: "•";
  font-family: "Font Awesome 5 Free";
  color: black;
  margin-top: 4px;
} */

.ph-subheading {
  font-size: 25px !important;
}
.procedure-outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.procedure-wrapper {
  width: 90%;
  background-color: #f9f9f9;
  padding: 20px 20px;
  margin: 20px;
  border: #e8ebef solid 0.2vw;
}

.procedure-wrapper h1 {
  text-align: center;
  margin: 20px 0;
  margin-bottom: 35px;
  color: black;
}

.sub-part h2 {
  font-size: 20px !important;
  color: #350011;
}

.sub-part p {
  margin: 10px 0 !important;
}

.procedure-wrapper h2 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: black;
}

.sub-part h2,
.ph-subheading {
  font-size: 23px !important;
  color: navy !important;
  text-align: left !important;
}

.procedure-wrapper p {
  margin: 20px 0;
  color: #2b000e;
}

.policies-heading {
  font-size: 2em;
}

.procedure-wrapper a {
  text-decoration: none;
  color: #3394ff;
}

.procedure-wrapper strong {
  color: #414141;
  font-weight: 700;
}

@media (max-width: 545px) {
  .procedure-wrapper {
    width: 95%;
  }
}

.custom-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 30px 0;
}

/* Header Components */

/* Mobile view */

@media (max-width: 768px) {
  /* Reset container padding to remove horizontal padding */
  .row2 container-fluid {
    background-color: #fff;
  }

  /* Show the mobile menu when it's open */
  .navbar-collapse.show {
    display: block;
    background-color: #f39c12;
    width: 60%; /* Cover only half of the screen width */
    position: absolute;
    top: 225px; /* Adjust this value as needed to position the menu below the menu icon */
    left: 0;
    z-index: 0; /* Ensure the menu appears above other content */
    padding: 10px; /* Add some padding for spacing */
  }

  /* Hide the toggle button text in mobile view */
  .navbar-toggler {
    color: #fff;
    background-color: #f39c12;
    border-color: #fff;
    text-align: left;
    width: fit-content; /* Adjust this value as needed */
  }

  /* Style for mobile navigation links */
  .navbar-nav .nav-item {
    border-bottom: 5px solid #f39c12;
    width: 10%; /* Make each nav item full width */
  }

  /* Style for mobile dropdown menu */
  .dropdown-menu {
    background-color: #12f34a;
    width: justify; /* Make the dropdown menu full width */
    right: 0; /* Position the dropdown menu to the right */
    left: 10;
    /* Remove padding to adjust sub-options within the same space */
  }

  /* Style for mobile dropdown items */
  .dropdown-menu .dropdown-item {
    color: black;
  }

  /* Style for active links in mobile view */
  /* .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
  } */

  /* Hide the caret icon in mobile view */
  .dropdown-toggle::after {
    display: none;
    width: fit-content;
  }

  /* Adjust padding for nav items in mobile view */
  .navbar-nav {
    padding: 0;
  }

  /* Adjust margins for nav items in mobile view */
  .navbar-nav .nav-item {
    margin: 0;
  }

  /* Style for mobile navigation links */
  .navbar-nav .nav-link {
    padding: 10px;
    color: #f39c12;
  }

  /* Move the menu icon to the right in mobile view */
  .navbar-toggler::before {
    content: "\2261"; /* Unicode for the hamburger menu icon */
    height: 30px;
    display: inline-block;
    color: #fff;
    font-size: 40px; /* Adjust this value to change the size of the icon */
    line-height: 30px; /* Adjust this value to vertically center the icon */
    margin-right: 10px;
    margin-top: 5px; /* Adjust this value to add space between the icon and the "Menu" text */
  }

  /* Add down arrow icon for dropdown items in mobile view */
  .nav-link.dropdown-toggle::after {
    content: ""; /* Unicode for the right-pointing arrow icon */
    display: inline-block;
    margin-left: 5px; /* Adjust this value to add space between the item text and the icon */
  }

  .navbar-collapse.collapsing {
    display: block;
    background-color: #f39c12;
    width: 50%; /* Set the desired width when collapsing the menu */
    position: absolute;
    top: 225px;
    left: 0;
    z-index: 0;
    padding: 10px;
  }
}

/* Header row1*/

.container-fluid {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.header-col1,
.header-col2 {
  display: flex;
  align-items: center;
}

.header-col21 img {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size: 30px;
  width: 200px;
  height: 60px;
}

.header-col22 img {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 80px;
  font-size: 30px;
  width: 100px;
  height: 60px;
}

/* Styles for mobile view (screen width < 768px) */
@media (max-width: 767px) {
  .container-fluid {
    flex-direction: column;
  }

  .header-col2 {
    margin-top: 10px;
    margin-left: 50px;
  }

  /* Center align header-col1 image in mobile view */
  .header-col1 img {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 120px;
    margin-left: 30px;
  }

  /* Styles for header-col21 image in mobile view */
  .header-col21 img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Preserve aspect ratio */
    margin: 10px auto; /* Center align and add spacing */
    display: block;
  }

  /* Styles for header-col22 image in mobile view */
  .header-col22 img {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Preserve aspect ratio */
    margin-left: 50px; /* Center align and add spacing */
    display: block;
  }
}

/*Student Login*/

/* CSS code for custom styling */
.container-box {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  margin-left: 450px;
  padding: 20px;
  border: 3px solid #f39c12;
  border-radius: 25px;
  align-self: center;
}

.btn-floating {
  border-radius: 50%;
  padding: 8px;
}
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.btn-primary:hover {
  background-color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.bg-light {
  background-color: #f8f9fa;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.btn-link img {
  width: 30px; /* Adjust the width and height as per your image size */
  height: 30px;
}
.btn-link:hover {
  text-decoration: underline;
}

.btn-floating {
  /* background-color: #007bff; */
  color: #fff;
  border-radius: 50%;
  padding: 8px;
}

.mb-3 {
  margin-bottom: 1rem;
  border-radius: 25px;
}

.mb-4 {
  margin-bottom: 1.5rem;
  border-radius: 20px;
}

.mb-md-0 {
  margin-bottom: 0;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.5rem;
}

.form-check.d-flex {
  flex-wrap: nowrap;
}

.form-check-input {
  position: absolute;
  top: 0;
  left: 20;
  margin-top: 0.25rem;
}

.form-check-input.me-2 {
  position: absolute;
  top: 0;
  left: 100px;
  margin-top: 0.25rem;
}

.form-check-label {
  margin-bottom: 0;
  left: 20;
  padding-left: 0.5rem;
  font-size: 15px;
}

.form-outline {
  position: relative;
}

.form-control {
  border: 1px solid #d8dace;
  border-radius: 20px;
  padding: 0.5rem;
  width: 100%;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -24px;
  padding: 0 5px;
  background-color: #fff;
  color: #007bff;
}

.form-label.active {
  margin-top: -20px;
  font-size: 12px;
}

.text-center {
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Additional styling for active tab */
/* .nav-link.active {
  background-color: #007bff;
  color: #fff;
} */

/* Additional styling for tab content */
.tab-content {
  padding: 1rem;
  border: 1px solid #f39c12;

  border-radius: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.nav-pills .nav-link.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
}

.form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .container-box {
    max-width: 90%;
    padding: 10px;
    margin-left: 18px;
  }

  .nav-pills {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-link {
    margin-bottom: 5px;
  }

  .tab-content {
    padding: 10px;
  }

  .form-label {
    margin-top: -15px;
    font-size: 10px;
  }

  .form-check-label {
    font-size: 12px;
  }
  .row.mb-4 {
    display: flex;
    flex-wrap: wrap;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .d-flex.justify-content-center {
    justify-content: center;
  }

  /* Reduce the distance between checkbox and text in mobile view */
  .form-check-input {
    margin-right: 0.5rem;
  }

  .form-check-input.me-2 {
    position: absolute;
    top: 0;
    left: 80px;
    margin-top: 0;
  }
}

/* Custom CSS for web view (screen width >= 768px) */
@media (min-width: 768px) {
  .row.mb-4 {
    display: flex;
    justify-content: space-between;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row.mb-4 {
    display: flex;
    justify-content: space-between;
  }

  /* Reduce the distance between checkbox and text in web view */
  .form-check-input {
    margin-right: 0.5rem;
  }
}
